element {
  --main-color: #FAEAEE;
  --secondary-color: #594A47;
  --third-color: #C65097;
}

body {
  margin-top: 40px;
  /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
}

body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 5;
  right: 0;
}

.box {
  /* height: 250px; */
  /* Increase the height value as desired */
  background-color: white;

  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;

}